rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // USERS COLLECTION - PUBLIC ACCESS
    match /users/{userId} {
      allow read, write: if true;
    }

    // ASISTENCIA COLLECTION - PUBLIC ACCESS
    match /asistencia/{asistenciaId} {
      allow read, write: if true;
    }
    
    match /asistencia/{path=**}/asistencia {
       allow read, write: if true;
    }

    // INFORMES COLLECTION - PUBLIC ACCESS
    match /informes/{informeId} {
      allow read, write: if true;
    }

    // SERVICIOS COLLECTION - PUBLIC ACCESS
    match /servicios/{servicioId} {
      allow read, write: if true;
    }

    // ANUNCIOS COLLECTION - PUBLIC ACCESS
    match /anuncios/{anuncioId} {
      allow read, write: if true;
    }

    // EXPEDIENTES ABSENTISTAS COLLECTION - PUBLIC ACCESS
    match /expedientesAbsentistas/{expedienteId} {
      allow read, write: if true;
    }
  }
}
